#rd {
	& .btn {
		&-primary {
			position: relative;
			font-family: $f-roboto-c;
			color: #fff;
			font-size: 2.2rem;
			font-weight: 600;
			text-decoration: none;
			transition: all 0.5s;
			position: relative;
			padding: 1.6rem 4.2rem;
			background-color: $sublime-yellow;
			border: 0;
			border-radius: 0;
			z-index: 1;

			&:hover {
				color: $french-blue;

				&::before {
					opacity: 0.3;
					-webkit-transform: scale(1.2, 1.4);
					transform: scale(1.2, 1.4);
				}
			}

			&::before {
				content: '';
				position:absolute;
				z-index: -1;
				left: 0; right: 0; top: 0; bottom: 0;
				background-color: $sublime-yellow;
				opacity: 1;
				transition: all 0.5s;
			}
		}

		&-secondary {}
		&-warning {}
		&-danger {}
	}

	& .cta-btn {
		position: relative;
		font-family: $f-roboto-c;
		color: #fff;
		font-size: 2.2rem;
		font-weight: 400;
		text-decoration: none;
		transition: all 0.5s;
		position: relative;
		padding: 1.6rem 4.2rem;
		background-color: $sublime-yellow;
		border: 0;
		border-radius: 0;
		z-index: 1;

		&:hover {
			color: $french-blue;

			&::before {
				opacity: 0.3;
				-webkit-transform: scale(1.2, 1.4);
				transform: scale(1.2, 1.4);
			}
		}

		&::before {
			content: '';
			position:absolute;
			z-index: -1;
			left: 0; right: 0; top: 0; bottom: 0;
			background-color: $sublime-yellow;
			opacity: 1;
			transition: all 0.5s;
		}
	}

	& .special-link {
		font-family: $f-roboto-c;
		color: #fff;
		font-size: 1.6rem;
		font-weight: 600;
		text-decoration: none;
		transition: all 0.5s;
		position: relative;
		padding: 1.2rem;
		margin-left: 0.5rem;
		background-color: $sublime-yellow;
		box-shadow: 5px 5px 0px $french-blue;

		&:hover {
			box-shadow: 8px 8px 0px $french-blue, -8px -8px 0px $french-blue;
		}
	}
	
	& .double-link {
		font-family: $f-roboto-c;
		font-size: 1.8rem;
		font-weight: 600;
		text-decoration: none;
		transition: all 0.5s;
		position: relative;
		padding: 1.2rem 4.2rem;

		&:hover {
			color: rgba(57, 63, 77, 1);
			text-decoration: none;

			&::before {
				opacity: 0;
				-webkit-transform: scale(1.2, 1.2);
				transform: scale(1.2, 1.2);
				border-color: $sublime-yellow;
			}

			& .double {
				opacity: 1;
				-webkit-transform: scale(1, 1);
				transform: scale(1, 1);
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			border: 2px solid $sublime-yellow;
			background-color: $sublime-yellow;
			transition: all 0.3s;
		}

		& .double {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $french-blue;
			transition: all 0.3s;
			transform: scale(0.5, 0.5);
		}
	}
}
