@mixin sizer($w, $h) {
	width: $w;
	height: $h;
}

@mixin flexCenter() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin bgConfig($size, $position, $repeat) {
	background-size: $size;
	background-position: $position;
	background-repeat: $repeat;
}

@mixin transition($type, $time) {
	transition: all $type $time;
}

@mixin border($size, $type, $color, $radius) {
	border: $size $type $color;
	border-radius: $radius;
}

@mixin hideInput() {
	-webkit-appearance: none;
	display: none;
}

@mixin blackFont() {
	font-family: $blackFont;
	font-weight: 900;
}

@mixin breakpoint($class) {
	@if $class == xs {
		@media (min-width: 320px) { @content; }
	}

	@else if $class == max_xs {
		@media (max-width: 575px) { @content; }
	}

	@else if $class == sm {
		@media (min-width: 576px) { @content; }
	}

	@else if $class == max_sm {
		@media (max-width: 767px) { @content; }
	}

	@else if $class == md {
		@media (min-width: 768px) { @content; }
	}

	@else if $class == max_md {
		@media (max-width: 991px) { @content; }
	}


	@else if $class == lg {
		@media (min-width: 992px) { @content; }
	}

	@else if $class == max_lg {
		@media (max-width: 1199px) { @content; }
	}

	@else if $class == xl {
		@media (min-width: 1200px) { @content; }
	}

	@else {
		@warn "Breakpoint mixin supports: xs, sm, md, lg";
	}
}