/* FONTS */
$f-oswald: 'Oswald', sans-serif;
$f-montserrat: 'Montserrat', sans-serif;
$fs-base: 10px;
$fs-xs: 1.2rem;
$fs-sm: 1.6rem;
$fs-md: 2rem;
$fs-lg: 2.8rem;
$fs-xl: 3.2rem;


/* COLORS */
$sublime-yellow: #feda6a;
$french-blue: #3a4660;
$dark-slate: #1d1e22;
$silver-fox: #d4d4dc;
$deep-grey: #393f4d;