/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* OSWALD */
/* Montserrat */
@font-face {
  font-family: 'Oswald';
  src: url("./../fonts/Oswald/Oswald-ExtraLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url("./../fonts/Oswald/Oswald-light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url("./../fonts/Oswald/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url("./../fonts/Oswald/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url("./../fonts/Oswald/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url("./../fonts/Oswald/Oswald-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* FONTS */
/* COLORS */
header .navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 30px;
}

header .navbar .navbar-brand img {
  max-width: 75px;
  max-height: 75px;
}

header .navbar #rd-nav-links .navbar-nav .nav-item {
  margin-left: 5px;
  margin-right: 5px;
}

header .navbar #rd-nav-links .navbar-nav .nav-item .nav-link:not(.special-link) {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #3a4660;
  padding: 1.2rem 1.8rem;
  letter-spacing: 0.1rem;
}

header .navbar #rd-nav-links .navbar-nav .nav-item .nav-link:not(.special-link) span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}

header .navbar #rd-nav-links .navbar-nav .nav-item .nav-link:not(.special-link) span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #feda6a;
  visibility: visible;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}

header .navbar #rd-nav-links .navbar-nav .nav-item .nav-link:not(.special-link):hover span::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header .navbar #rd-nav-links .navbar-nav .nav-item .special-link {
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  padding: 1.2rem;
  margin-left: 0.5rem;
  background-color: #feda6a;
  -webkit-box-shadow: 5px 5px 0px #3a4660;
          box-shadow: 5px 5px 0px #3a4660;
}

header .navbar #rd-nav-links .navbar-nav .nav-item .special-link:hover {
  -webkit-box-shadow: 8px 8px 0px #3a4660, -8px -8px 0px #3a4660;
          box-shadow: 8px 8px 0px #3a4660, -8px -8px 0px #3a4660;
}

header .navbar #rd-nav-links .navbar-nav .nav-item .double-link {
  font-family: "Oswald", sans-serif;
  color: #1d1e22;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  padding: 1.2rem 2.2rem;
  margin-left: 0.5rem;
}

header .navbar #rd-nav-links .navbar-nav .nav-item .double-link:hover {
  color: #393f4d;
  text-decoration: none;
}

header .navbar #rd-nav-links .navbar-nav .nav-item .double-link:hover::before {
  opacity: 0;
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  border-color: #feda6a;
}

header .navbar #rd-nav-links .navbar-nav .nav-item .double-link:hover .double {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

header .navbar #rd-nav-links .navbar-nav .nav-item .double-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 2px solid #feda6a;
  border-radius: 5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .navbar #rd-nav-links .navbar-nav .nav-item .double-link .double {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #feda6a;
  border-radius: 5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

#rd__init #hello {
  position: relative;
}

#rd__init #hello .the__block {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 80%;
  background-image: url("../images/logo_rdnine_web.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
}

#rd__init #hello .img-placeholder {
  width: 80%;
  height: 650px;
  position: relative;
  margin-left: auto;
  display: block;
  padding: 0.5rem;
}

#rd__init #hello .img-placeholder::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: -15px;
  right: -15px;
  background-color: #3a4660;
}

#rd__init #hello .img-placeholder::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #d4d4dc;
  border: 0.5rem solid #feda6a;
  border-radius: 0;
}

#rd__init #hello .img-placeholder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  z-index: 3;
}

#rd__init #hello .text {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  max-width: 50%;
  padding-left: 4.5rem;
  padding-right: 3rem;
  z-index: 4;
}

#rd__init #hello .text .sub {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #feda6a;
  margin-bottom: 15px;
}

#rd__init #hello .text h1 {
  font-size: 6.8rem;
  line-height: 7.2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #1d1e22;
  margin-bottom: 30px;
}

#rd__init #hello .text h1 span {
  color: #feda6a;
  position: relative;
}

#rd__init #hello .text h1 span under {
  position: relative;
}

#rd__init #hello .text h1 span under::before {
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: 7px;
  height: 30%;
  background-color: #3a4660;
  z-index: -1;
}

#rd__init #hello .text h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 2.6rem;
  line-height: 3.2rem;
  background-color: #3a4660;
  padding: 1rem 1.5rem;
  color: #fff;
  display: inline-block;
}

#rd__init #hello #playon {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1030;
  margin: auto;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: 2px solid #feda6a;
  border-radius: 50%;
  background-color: #feda6a;
  -webkit-box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.5);
}

#rd__init #hello #playon i {
  color: #fff;
  font-size: 2.8rem;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.f-title {
  font-family: "Oswald", sans-serif;
}

.f-text {
  font-family: "Montserrat", sans-serif;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fs-xs {
  font-size: 1.2rem;
}

.fs-sm {
  font-size: 1.6rem;
}

.fs-md {
  font-size: 2rem;
}

.fs-lg {
  font-size: 2.8rem;
}

.fs-xl {
  font-size: 3.2rem;
}

.c-yellow {
  color: #feda6a;
}

#rd {
  overflow-x: hidden;
}
/*# sourceMappingURL=style.css.map */