@import './fonts';
@import './mixins';
@import './utilities';
@import './btn';
@import './header';
@import './footer';
@import './pages';
@import './modules';


html {font-size: $fs-base; font-family: $f-roboto; scroll-behavior: smooth;}

img {max-width: 100%;}

.f {
	&-title {font-family: $f-roboto-c;}
	&-text {font-family: $f-roboto;}
	&w-300 {font-weight: 300;}
	&w-400 {font-weight: 400;}
	&w-500 {font-weight: 500;}
	&w-600 {font-weight: 600;}
	&w-700 {font-weight: 700;}
	&s-xs {font-size: $fs-xs;}
	&s-sm {font-size: $fs-sm;}
	&s-md {font-size: $fs-md;}
	&s-lg {font-size: $fs-lg;}
	&s-xl {font-size: $fs-xl;}
}

.p {
	&l-xs {padding-left: 1.5rem;}
	&l-sm {padding-left: 2rem;}
	&l-md {padding-left: 2.5rem;}
	&l-lg {padding-left: 4rem;}
	&l-xl {padding-left: 6rem;}
	&r-xs {padding-right: 1.5rem;}
	&r-sm {padding-right: 2rem;}
	&r-md {padding-right: 2.5rem;}
	&r-lg {padding-right: 4rem;}
	&r-xl {padding-right: 6rem;}
}

.c {
	&-yellow {color: $sublime-yellow;}
}

#rd {
	overflow-x: hidden;

	& h1 {
		font: $f-h1;
		line-height: $fl-xl;
		color: $dark-slate;
	}

	& h2 {
		font: $f-h2;
		line-height: $fl-lg;
		color: $dark-slate;
	}

	& h3 {
		font: $f-h3;
		line-height: $fl-md;
		color: $dark-slate;
	}

	& h4 {
		font: $f-h4;
		line-height: $fl-sm;
		color: $dark-slate;
	}

	& h5 {
		font: $f-h5;
		line-height: $fl-xs;
		color: $dark-slate;
	}

	& p {
		font: $f-p;
		line-height: $fl-sm;
		color: $silver-fox;
	}

	& .bg-silver {
		background-color: $light-grey;
	}

	& .mini {
		display: block;
		font-family: $f-roboto-c;
		font-weight: 700;
		font-size: 1.4rem !important;
		line-height: 1.4rem !important;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: #000;
		margin-bottom: 15px !important;
	}

	& .seperator {
		display: block;
		width: 45px;
		height: 1px;
		margin: auto;
		background-color: $dark-slate;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}