.link {
    position: relative;
    display: inline-block;

    &__iris {
        font-size: 1.6rem;
        font-weight: 700;
        color: $primary-color;
        text-align: center;

        position: relative;
        padding: 1rem 1.5rem;

        &::before , &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            opacity: 0;
            border: 2px solid $primary-color;
            transition: transform 0.3s, opacity 0.3s;
            transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
        }

        &::before {
            top: 0;
            left: 0;
            border-width: 2px 0 0 2px;
            transform: translate3d(10px, 10px, 0);
        }

        &::after {
            right: 0;
            bottom: 0;
            border-width: 0 2px 2px 0;
            transform: translate3d(-10px, -10px, 0);
        }

        &:hover {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

            &::before, &::after {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }
}